.form-group {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.text-end {
    text-align: right;
}

button {
    margin-top: 10px;
}

.btn-white-custom {
    display: flex;
    align-items: center;
    background-color: rgb(253, 12, 12);
    color: black;
    border-color: #ffffff;
    /* Menjaga warna border asli */
}

.btn-white-custom:hover,
.btn-white-custom:focus,
.btn-white-custom.active {
    background-color: #202b3c;
    /* Warna asli saat aktif atau hover */
    color: rgb(250, 251, 255);
}

.left-align {
    display: flex;
    align-items: center;
}

.left-align span {
    font-size: 13px;
    /* Adjust the text size as needed */
}

HEAD .align-right {
    text-align: right;
    /* Mengatur teks dalam elemen ke kanan */
}

.custom-modal .modal-dialog {
    max-width: 600px;
    /* Atur lebar */
    margin: auto;
    /* Tengah */
}

@media (max-width: 768px) {
    .custom-modal .modal-dialog {
        max-width: 90%;
        /* Sesuaikan untuk layar kecil */
    }

    .custom-modal .modal-content {
        height: auto;
        /* Biarkan otomatis */
    }
}

.custom-modal .modal-content {
    height: 400px;
    /* Atur tinggi */
}

.form-label {
    font-size: 14px;
    /* Atur ukuran sesuai kebutuhan */
    font-weight: normal;
    /* Tambahkan jika ingin teks lebih ringan */
}

.align-right {
    text-align: right;
    /* Mengatur teks dalam elemen ke kanan */
}

.modal-open .select2-dropdown {
    z-index: 10060;
}

.modal-open .select2-close-mask {
    z-index: 10055;
}

th {
    font-size: 11px;
}

td {
    font-size: 13px;
}

.custom-button {
    width: 200px;
    /* Atur panjang tombol sesuai kebutuhan */
    float: right;
    /* Tempatkan tombol di sebelah kanan */
    text-align: center;
    /* Pusatkan teks di tombol */
    background-color: #000000;
    /* Warna latar belakang */
    color: rgb(255, 0, 0);
    /* Warna teks */
    border: none;
    /* Hilangkan border */
    border-radius: 5px;
    /* Atur radius sudut */
    cursor: pointer;
    /* Ubah kursor saat dihover */
}

.custom-button:hover {
    background-color: #495057;
    /* Warna latar belakang saat dihover */
}


.nav-pills {
    display: flex;
    justify-content: space-between;
    /* Jarak merata */
    padding: 0;
    /* Hapus padding default */
    list-style: none;
    /* Hapus bullet */
    text-align: center;
}

.nav-pills .nav-link {
    width: 160px;
    /* Atur jarak antar tombol */
}



/* Target form labels */
form#Penduduk label {
    font-size: 0.85rem;
    /* Adjust as needed */
}

/* Target form input fields and select dropdowns */
form#Penduduk input,
form#Penduduk select {
    font-size: 0.85rem;
    /* Adjust as needed */
}

/* Small text for error messages */
form#Penduduk small.text-danger {
    font-size: 0.75rem;
    /* Adjust as needed */
}

/* CSS untuk .app-wrapper-title */
.app-title {
    background-color: #c0c4c5;
    /* Warna latar belakang untuk app-page-title */
    padding: 20px;
    /* Padding untuk ruang di sekitar konten */
    border-radius: 8px;
    /* Membuat sudut melengkung */
    margin-bottom: 10px;
    /* Jarak bawah dari elemen lain */
}

/* CSS untuk .page-title-wrapper */
.app-wrapper {
    display: flex;
    /* Gunakan flexbox untuk mengatur tata letak */
    align-items: center;
    /* Menyelaraskan item di tengah secara vertikal */
}

/* CSS untuk .page-title-heading */
.app-heading {
    display: flex;
    /* Gunakan flexbox untuk mengatur tata letak */
    align-items: center;
    /* Menyelaraskan item di tengah secara vertikal */
}

/* CSS untuk .app-bg-icon */
.app-bg-icon {
    display: flex;
    /* Gunakan flexbox untuk mengatur tata letak ikon */
    align-items: center;
    /* Menyelaraskan ikon di tengah secara vertikal */
    justify-content: center;
    /* Menyelaraskan ikon di tengah secara horizontal */
    width: 40px;
    /* Lebar tetap untuk ikon */
    height: 40px;
    /* Tinggi tetap untuk ikon */
    background-color: #c0c4c505;
    /* Warna latar belakang untuk ikon */
    border-radius: 10%;
    /* Membuat ikon menjadi lingkaran */
    margin-right: 15px;
    /* Jarak kanan dari teks */
}


/* CSS untuk .page-title-subheading */
.app-text_fount {
    font-size: 14px;
    /* Ukuran font untuk subjudul */
    color: #373636;
    /* Warna teks untuk subjudul */
    margin-top: 15px;
    /* Jarak atas dari judul */
}

.btn-purple {
    background-color: purple;
    color: white;
    border-color: purple;
}

.small-font-form {
    font-size: 10px;
}

.custom-button {
    width: 200px;
    /* Atur panjang tombol sesuai kebutuhan */
    float: right;
    /* Tempatkan tombol di sebelah kanan */
    text-align: center;
    /* Pusatkan teks di tombol */
    background-color: #2280de;
    /* Warna latar belakang */
    color: white;
    /* Warna teks */
    border: none;
    /* Hilangkan border */
    border-radius: 5px;
    /* Atur radius sudut */
    cursor: pointer;
    /* Ubah kursor saat dihover */
}

.custom-button:hover {
    background-color: #495057;
}

.twitter-typeahead {
    width: 100%;
    border-radius: 5px;
}

.tt-dropdown-menu {
    background: var(--white);
    color: var(--dark);
    width: 100%;
    border-radius: 10px;
    /* Membulatkan latar belakang */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* Opsional: Tambahkan bayangan untuk visibilitas yang lebih baik */
    padding: 15px;
}

.tt-suggestion {
    padding: 5px;
    /* Mengurangi padding sekitar item saran */
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 0.5;
    /* Mengatur tinggi baris untuk mengurangi jarak antar teks */
}

.tt-suggestion:hover {
    background-color: var(--light-grey);
    /* Opsional: Ubah latar belakang saat dihover */
}

#wrapper {
    height: 100vh;
}

@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        width: 18rem !important;
    }
}

.sidebar .sidebar-brand {
    position: sticky;
    top: 0;
    left: 0;
}

.navbar-nav {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#wrapper #content-wrapper {
    height: 100vh;
}

.topbar {
    position: sticky;
    top: 0;
    right: 0;
}
